* {
	box-sizing: border-box;
}

html, body, h1 {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: Sans-serif;
}

body{
	background-color: #ffffff;
	background-image: url(../img/background.png);
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.degrade {
	height: 50px;
	background-image: linear-gradient(to bottom,  #e2e2e2, transparent);
}

h1 {
	margin-top:80px;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
}

div.color {
	margin-top:40px;
	text-align: center;
	text-transform: capitalize;
	font-size:45px;
	font-weight: bold;
	color: #e2e2e2;
}

body.blue .degrade {
	background-image: linear-gradient(to bottom,  #0000ff, transparent);
}

body.blue div.color {
	color: #0000ff;
}

body.red  .degrade {
	background-image: linear-gradient(to bottom,  #D3201D, transparent);
}

body.red div.color {
	color: #D3201D;
}

body.yellow  .degrade {
	background-image: linear-gradient(to bottom,  #FFEA03, transparent);
}

body.yellow div.color {
	color: #FFEA03;
}

body.green  .degrade {
	background-image: linear-gradient(to bottom,  #008E00, transparent);
}

body.green div.color {
	color: #008E00;
}

.share {
	margin-top:55px;
	text-align: center;
}

.share-facebook {
	display:inline-block;
	margin-right: 35px;
	line-height: 11px;
}

.share-twitter {
	display:inline-block;
}

.share-googleplus {
	display:inline-block;
}